li a {
    float: left;
    display: block;
    padding: 8px 16px;
    width: 30%;
    text-decoration: none;
    text-align: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: beige;
}

.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}

h1 {
    color: white;
    text-align: center;
    font-size: 350%
}

h2 {
    color: red;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    text-align: center;
}

h3 {
    color: red;
    text-align: center;

}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}

.transbox {
    margin: 2% 7%;
    background-color: black;
    opacity: 0.8;
}

 ol {
    list-style-type: none;
    color: white;
    text-align: left;
    font-size: 200%;
    position: relative;
    left: 5%;
    width: 30%;
}
ul2 {
    list-style-type: none;
    color: white;
    text-align: left;
    font-size: 200%;
    position: absolute;
    left: 80%;

}

.border {
    border-bottom: 2px solid white;
    width: 270%
}

.border2 {
    border-bottom: 2px solid white;
    width: 10%;
}