li a {
    float: left;
    display: block;
    padding: 8px 16px;
    width: 30%;
    text-decoration: none;
    text-align: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: aquamarine;
}

.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a:link {
    color: red;
}

a:visited {
    color: purple;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: red;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    text-align: center;
}

p {
    font-family: monospace;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}

.transbox {
    margin: 1%;
    background-color: black;
    opacity: 0.8;
}
