li a {
    float: left;
    display: block;
    padding: 8px 16px;
    width: 30%;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: beige;
}

.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a:link,a:visited {
    color: black;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}

h1 {
    font-size: 350%
}

h2 {
    color: red;
}

h3 {
    color: red;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centerText,h1,h3,#saying,.container2,li a, #specialFont {
    text-align: center;
}

.transbox {
    margin: 2% 7%;
    background-color: black;
    opacity: 0.8;
}

 ol {
    list-style-type: none;
    text-align: left;
    font-size: 200%;
    position: relative;
    left: 5%;
    width: 30%;
}
ul2 {
    list-style-type: none;
    text-align: left;
    font-size: 200%;
    position: absolute;
    left: 80%;

}

.border {
    border-bottom: 2px solid white;
    width: 270%
}

.border2 {
    border-bottom: 2px solid white;
    width: 10%;
}

#saying {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: grey;
    font-size: 175%;
}
 .white, ul2,ol,h1{
     color: white;
 }

 .whitecenter{
     color:white;
     text-align: center;
 }

.container2 {
    display: inline-block;
    width: 32%;
    height: auto;
}

@font-face {
    font-family: myFirstFont;
    src: url("Milkshake.ttf");
}

#specialFont {
    font-family: myFirstFont, cursive;
    font-size: 200%;
}